.address__title {
  color: $special-dark-fonts-color;
  font-size: 16px;
  line-height: 20px;
}

.address__description {
  color: $secondary-fonts-color;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-family: "Lato", sans-serif;
}
