.button {
  font-size: 16px;
  line-height: 20px;
  background-color: $base-background-color;
  text-transform: uppercase;
  color: $special-fonts-color;
  text-decoration: none;
  border: none;
  font-family: "Oswald", sans-serif;
}

.button--show-more {
  color: $secondary-fonts-color;
  background-color: $optional-background-color;
}
