.hero {
  background-image: url("../../img/index/background-hero-desktop.jpg");
  background-repeat: no-repeat;
  color: $special-fonts-color;
  background-position: center;
}

.hero__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__slogan {
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
