.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 0;
  }
}

.main-header--decoration::after {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  bottom: -1px;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header--decoration-none::after {
  display: none;
}

.main-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 13px 0 14px;

  @media (min-width: $tablet-width) {
    transition: opacity 0.2s;
    padding: 0;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.main-header__logo-text {
  padding: 10px;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 13px;

    &:hover {
      opacity: initial;
    }

    &:active {
      opacity: initial;
    }
  }
}

.main-header__logo {
  margin-right: 46px;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;

    &:hover {
      opacity: initial;
    }

    &:active {
      opacity: initial;
    }
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__toggle {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 24px;
  height: 18px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-top: -2px;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle-no-js {
  display: none;
}

.main-header__toggle-line {
  display: block;
  background-color: $primary__fonts-color;
  width: 24px;
  height: 2px;
  transform: scale(1);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::before,
.main-header__toggle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $primary__fonts-color;
}

.main-header__toggle::before {
  top: 0;
}

.main-header__toggle::after {
  bottom: 0;
}

.main-header__toggle.main-header__toggle--active .main-header__toggle-line {
  transform: scale(0);
}

.main-header__toggle.main-header__toggle--active::before {
  top: 50%;
  transform: rotate(-47deg) translate(0, -50%);
}

.main-header__toggle.main-header__toggle--active::after {
  bottom: 50%;
  transform: rotate(47deg) translate(0, 50%);
}
