.main-footer__list {
  list-style: none;
}

.main-footer__creator-name {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-fonts-color;
  text-decoration: none;
}

.main-footer__link,
.main-footer__creator-logo {
  color: #666666;
}
