.page {
  height: 100%;
}

.page__body {
  @include fonts(14px, 18px);
  min-height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Oswald", "Tahoma", sans-serif;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 24px);
  }
}
