.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product-card__property-name,
.product-card__property-value {
  font-family: "Lato", sans-serif;
  color: $secondary-fonts-color;
  font-size: 12px;
  line-height: 16px;
}
