.products__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.products__title {
  @include fonts(36px, 36px);
  margin: 0 0 41px;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 60px);
    margin: 0 0 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.products__cards {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
