.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 245px;
  }
}

.promo {
  background-image: url("../../img/catalog/promo-image@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(104, 183, 56, 0.85);
  background-position: center;
  padding: 187px 50px 43px;
  display: flex;
  position: relative;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog/promo-image@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
    background-image: url("../../img/catalog/promo-image-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/promo-image-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
    background-image: url("../../img/catalog/promo-image-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/promo-image-desktop@2x.jpg");
    }
  }
}

.promo::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  margin-left: -39px;
  width: 78px;
  height: 80px;
  background-image: url("../../img/stack.svg#icon_gift");

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: 50%;
    transform: translateY(-50%);
    left: 79px;
    width: 80px;
    height: 82px;
    margin-left: 0;
  }
}

.promo__description {
  @include fonts(16px, 20px, $special__fonts-color);
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    text-align: left;
  }
}
