.main-nav--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav--opened {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  background-color: #ffffff;
}

//.main-nav--no-js {
//  position: static;
//}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item--current {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.main-nav__item--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 4px;
    left: 29px;
    bottom: 2px;
    height: 2px;
    background-color: $base__background-color;
  }
}

.main-nav__link {
  @include fonts(20px, 20px);
  max-width: 320px;
  margin: 0 auto;
  padding: 22px 15px 23px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include fonts(18px, 24px);
    margin-left: 25px;
    padding: 14px 4px 12px;
  }
}
