$base-background-color: #68b738ff;
$base-background-hover-color: #5eaa2f;
$optional-background-color: #f2f2f2;
$primary-fonts-color: #000000;
$secondary-fonts-color: #444444;
$catalog-subtitle-fonts-color: #222222;
$special-dark-fonts-color: #111111;
$special-fonts-color: #ffffff;
$error-color-color: #ff8282;
