.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}

.promo {
  background-image: url("../../../../img/catalog/promo-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(104, 183, 56, 0.85);
  background-position: center;
  color: $special__fonts-color;
  padding: 187px 50px 43px;
  display: flex;
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  margin-left: -39px;
  width: 78px;
  height: 80px;
  background-image: url("../../../../img/catalog/icon_gift.svg");
}

.promo__description {
  @include fonts(16px, 20px, $special__fonts-color);
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0;
}
