.promo {
  background-image: url("../../../../img/catalog/promo-image.jpg");
  background-repeat: no-repeat;
  background-color: $base__background-color;
  background-position: center;
  color: $special__fonts-color;
  width: 279px;
  height: 289px;
  display: flex;
}

.promo__description {
  @include fonts(16px, 20px);
  font-family: "Lato", sans-serif;
  padding-top: 187px;
  text-align: center;
}
