.result {
  background-color: $optional__background-color;
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    background-color: $special__fonts-color;
    background-image: linear-gradient(0deg, $optional__background-color 462px, transparent 462px);
    padding: 45px 0 101px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 75px;
  }
}

.result__title {
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px 0;
  }
}

.result__description {
  color: $secondary__fonts-color;
  font-family: "Lato", sans-serif;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0 0 69px 0;
  }
}

.result__list {
  display: grid;
  margin: 0 auto 20px;
  grid-template-columns: 1fr 1fr;
  gap: 20px 32px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    margin: 0 0 99px 0;
    gap: 20px 43px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 366px;
    grid-template-columns: 1fr 1fr;
    gap: 55px 43px;
    margin: 0;
  }
}

.result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__number {
  @include fonts(24px, 24px);
  padding: 14.5px 10px 15px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-width: 124px;
  min-height: 56px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(30px, 37px);
    min-width: 162px;
    min-height: 72px;
    padding: 15px 10px;
  }
}

.result__number-description {
  @include fonts(12px, 12px, $secondary__fonts-color);
  font-family: "Lato", sans-serif;
  max-width: 87px;
  text-align: center;
  padding: 0 14px;
  margin: -9px 0 0 0;
  background-color: $optional__background-color;

  @media (min-width: $tablet-width) {
    @include fonts(14px, 14px, $secondary__fonts-color);
    max-width: 145px;
    padding: 0 10px;
    margin: -9px 0 0 0;
    background-color: $special__fonts-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $optional__background-color;
  }
}

.result__number-description-text {
  text-align: center;
  max-width: 77px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 145px;
  }
}

.result__item--price {
  grid-column: 1 / -1;
  flex-direction: row;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-column: -1 / -2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.result__price-number,
.result__price-description {
  @include fonts(14px, 20px);
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.result__price-description {
  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 63px 0 0;
  }
}

.result__photos {
  --pos: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 340px;
    top: 45px;
  }
}

.result__image-after-img {
  object-fit: cover;
  max-width: 100%;
  object-position: right;
}

.result__image-before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pos);
  overflow: hidden;
}

.result__image-after {
  max-width: calc(100% - var(--pos));
  overflow: hidden;
  object-position: right;
}

.divider {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("../../../../img/index/thumb.png");
  background-color: transparent;
  padding: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: var(--pos);
  z-index: 3;
}

.divider-line {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 4px;
  left: var(--pos);
  margin-left: -2px;
  background-color: #666666ff;
  border-radius: 2px;
  z-index: 2;
}
