.main-footer__list {
  list-style: none;
}

.main-footer__creator-name {
  @include fonts(16px, 20px, $secondary__fonts-color);
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.main-footer__link,
.main-footer__creator-logo {
  color: #666666;
}
