.main-footer {
  padding: 20px 0 40px;
  background-color: $optional__background-color;

  @media (min-width: $tablet-width) {
    padding: 55px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 66px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-wrapper {
  position: relative;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 36px;
  }
}

.main-footer__logo-wrapper::after,
.main-footer__list::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-footer__logo {
  display: inline-block;
  align-self: center;
  padding: 20px;
  position: relative;
  transition: opacity 0.2s;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 6.5px 6.5px 6.5px 0;
  }
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;
}

.main-footer__list {
  @include reset-list;
  width: 100%;
  position: relative;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    min-width: 132px;
    width: initial;
    margin: 0;
  }
}

.main-footer__link {
  display: inline-block;
  padding: 17px 12px 20px;
  transition: color 0.2s, opacity 0.2s;


  &:hover {
    color: $base__background-color;
  }

  &:active {
    color: $base__background-color;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 12px 7px;
    text-align: center;
  }
}

.main-footer__creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s;

  & .main-footer__creator-logo {
    transition: color 0.2s;
  }

  &:hover .main-footer__creator-logo {
    color: $base__background-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    max-width: 168px;
  }
}

.main-footer__creator-name {
  @include fonts(16px, 20px, $secondary__fonts-color);
  font-family: "Lato", sans-serif;
  padding: 7px 7px 7px 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 8.5px 13px 8.5px 5px;
  }
}

.main-footer__creator-logo {
  display: block;
  width: 37px;
  height: 34px;
  padding-left: 10px;
}

.main-footer__link,
.main-footer__creator-logo {
  color: #666666;
}
